<section class="banner">
  <div class="container">
    <div class="banner__container">
      <div class="banner__content">
        <div class="banner__info">
          <h2 class="banner__title">Create and Sell NFTs</h2>
          <p class="banner__text">World’s Largest NFT Place</p>
        </div>
        <div class="banner__buttons">
          <button class="banner__btn banner__btn--explore">Explore More</button>
          <button class="banner__btn banner__btn--sell">Sell Artwork</button>
        </div>
      </div>
      <div class="banner__img-wrapper">
        <img class="banner__img" src="./img/hero/hero-nft.jpg" alt="" />
      </div>
    </div>
  </div>
</section>
