<section class="explore">
  <div class="container explore__container">
    <h2 class="explore__title">Explore Marketplace</h2>
    <div class="explore__sort">
      <button class="explore__btn">All</button>
      <button class="explore__btn">
        <svg class="explore__icon">
          <use href="./img/sprite.svg#category-icon"></use>
        </svg>
        <span>Category</span>
      </button>
      <button class="explore__btn">
        <svg class="explore__icon">
          <use href="./img/sprite.svg#collection-icon"></use>
        </svg>
        <span>Collection</span>
      </button>
      <button class="explore__btn">
        <svg class="explore__icon">
          <use href="./img/sprite.svg#explore-price-icon"></use>
        </svg>
        <span>Price</span>
      </button>
    </div>
    <ul class="nft-card nft-card--explore">
      <li class="nft-card__item">
        <div class="nft__img-wrapper">
          <img class="nft__img" src="./img/hero/hero-nft.jpg" alt="" />
          <div class="nft__timer">
            <span>19H</span>
            <span>09m</span>
            <span>12s</span>
          </div>
        </div>

        <h3 class="nft__name">VIktor</h3>
        <div class="nft-card__bid">
          <div class="nft-card__bid-wrapper">
            <span class="nft-card__label"> Current bid </span>

            <div class="nft-card__price">
              <svg class="nft-card__icon">
                <use href="./img/sprite.svg#price-icon"></use>
              </svg>

              <span>1.25</span>
            </div>
          </div>
          <button class="nft-card__button">PLACE BID</button>
        </div>
      </li>
      <li class="nft-card__item">
        <div class="nft__img-wrapper">
          <img class="nft__img" src="./img/hero/hero-nft.jpg" alt="" />
          <div class="nft__timer">
            <span>19H</span>
            <span>09m</span>
            <span>12s</span>
          </div>
        </div>

        <h3 class="nft__name">VIktor</h3>
        <div class="nft-card__bid">
          <div class="nft-card__bid-wrapper">
            <span class="nft-card__label"> Current bid </span>

            <div class="nft-card__price">
              <svg class="nft-card__icon">
                <use href="./img/sprite.svg#price-icon"></use>
              </svg>

              <span>1.25</span>
            </div>
          </div>
          <button class="nft-card__button">PLACE BID</button>
        </div>
      </li>
      <li class="nft-card__item">
        <div class="nft__img-wrapper">
          <img class="nft__img" src="./img/hero/hero-nft.jpg" alt="" />
          <div class="nft__timer">
            <span>19H</span>
            <span>09m</span>
            <span>12s</span>
          </div>
        </div>

        <h3 class="nft__name">VIktor</h3>
        <div class="nft-card__bid">
          <div class="nft-card__bid-wrapper">
            <span class="nft-card__label"> Current bid </span>

            <div class="nft-card__price">
              <svg class="nft-card__icon">
                <use href="./img/sprite.svg#price-icon"></use>
              </svg>

              <span>1.25</span>
            </div>
          </div>
          <button class="nft-card__button">PLACE BID</button>
        </div>
      </li>
      <li class="nft-card__item">
        <div class="nft__img-wrapper">
          <img class="nft__img" src="./img/hero/hero-nft.jpg" alt="" />
          <div class="nft__timer">
            <span>19H</span>
            <span>09m</span>
            <span>12s</span>
          </div>
        </div>

        <h3 class="nft__name">VIktor</h3>
        <div class="nft-card__bid">
          <div class="nft-card__bid-wrapper">
            <span class="nft-card__label"> Current bid </span>

            <div class="nft-card__price">
              <svg class="nft-card__icon">
                <use href="./img/sprite.svg#price-icon"></use>
              </svg>

              <span>1.25</span>
            </div>
          </div>
          <button class="nft-card__button">PLACE BID</button>
        </div>
      </li>
      <li class="nft-card__item">
        <div class="nft__img-wrapper">
          <img class="nft__img" src="./img/hero/hero-nft.jpg" alt="" />
          <div class="nft__timer">
            <span>19H</span>
            <span>09m</span>
            <span>12s</span>
          </div>
        </div>

        <h3 class="nft__name">VIktor</h3>
        <div class="nft-card__bid">
          <div class="nft-card__bid-wrapper">
            <span class="nft-card__label"> Current bid </span>

            <div class="nft-card__price">
              <svg class="nft-card__icon">
                <use href="./img/sprite.svg#price-icon"></use>
              </svg>

              <span>1.25</span>
            </div>
          </div>
          <button class="nft-card__button">PLACE BID</button>
        </div>
      </li>
      <li class="nft-card__item">
        <div class="nft__img-wrapper">
          <img class="nft__img" src="./img/hero/hero-nft.jpg" alt="" />
          <div class="nft__timer">
            <span>19H</span>
            <span>09m</span>
            <span>12s</span>
          </div>
        </div>

        <h3 class="nft__name">VIktor</h3>
        <div class="nft-card__bid">
          <div class="nft-card__bid-wrapper">
            <span class="nft-card__label"> Current bid </span>

            <div class="nft-card__price">
              <svg class="nft-card__icon">
                <use href="./img/sprite.svg#price-icon"></use>
              </svg>

              <span>1.25</span>
            </div>
          </div>
          <button class="nft-card__button">PLACE BID</button>
        </div>
      </li>
      <li class="nft-card__item">
        <div class="nft__img-wrapper">
          <img class="nft__img" src="./img/hero/hero-nft.jpg" alt="" />
          <div class="nft__timer">
            <span>19H</span>
            <span>09m</span>
            <span>12s</span>
          </div>
        </div>

        <h3 class="nft__name">VIktor</h3>
        <div class="nft-card__bid">
          <div class="nft-card__bid-wrapper">
            <span class="nft-card__label"> Current bid </span>

            <div class="nft-card__price">
              <svg class="nft-card__icon">
                <use href="./img/sprite.svg#price-icon"></use>
              </svg>

              <span>1.25</span>
            </div>
          </div>
          <button class="nft-card__button">PLACE BID</button>
        </div>
      </li>
      <li class="nft-card__item">
        <div class="nft__img-wrapper">
          <img class="nft__img" src="./img/hero/hero-nft.jpg" alt="" />
          <div class="nft__timer">
            <span>19H</span>
            <span>09m</span>
            <span>12s</span>
          </div>
        </div>

        <h3 class="nft__name">VIktor</h3>
        <div class="nft-card__bid">
          <div class="nft-card__bid-wrapper">
            <span class="nft-card__label"> Current bid </span>

            <div class="nft-card__price">
              <svg class="nft-card__icon">
                <use href="./img/sprite.svg#price-icon"></use>
              </svg>

              <span>1.25</span>
            </div>
          </div>
          <button class="nft-card__button">PLACE BID</button>
        </div>
      </li>
    </ul>
    <a href="" class="table__button">
      Explore All
      <svg class="table__icon-arrow">
        <use href="./img/sprite.svg#arrow-next"></use>
      </svg>
    </a>
  </div>
</section>
