<section class="explore">
  <div class="container explore__container">
    <h2 class="explore__title">Explore Marketplace</h2>
    <div class="explore__sort">
      <button class="explore__btn">All</button>
      <button class="explore__btn">
        <svg class="explore__icon">
          <use href="./img/sprite.svg#category-icon"></use>
        </svg>
        <span>Category</span>
      </button>
      <button class="explore__btn">
        <svg class="explore__icon">
          <use href="./img/sprite.svg#collection-icon"></use>
        </svg>
        <span>Collection</span>
      </button>
      <button class="explore__btn">
        <svg class="explore__icon">
          <use href="./img/sprite.svg#explore-price-icon"></use>
        </svg>
        <span>Price</span>
      </button>
    </div>
    <ul class="nft-card nft-card--explore"></ul>
    <a href="" class="table__button">
      Explore All
      <svg class="table__icon-arrow">
        <use href="./img/sprite.svg#arrow-next"></use>
      </svg>
    </a>
  </div>
</section>
