<header class="header">
  <div class="container container-header">
    <nav class="nav">
      <div class="nav__brand">
        <a class="logo nav__logo" href="./index.html" aria-label="Site logo">
          <svg class="logo__icon nav__logo-icon">
            <use href="./img/sprite.svg#logo"></use>
          </svg>
          <span class="logo__text nav__logo-text">DiveSea</span>
        </a>

        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link {=$highlight-act}" href="./page-2.html"
              >Discover</a
            >
          </li>
          <li class="nav__item">
            <a class="nav__link {=$highlight-curr}" href="./page-3.html"
              >creators</a
            >
          </li>
          <li class="nav__item">
            <a class="nav__link {=$highlight-curr}" href="./page-3.html"
              >Sell</a
            >
          </li>
          <li class="nav__item">
            <a class="nav__link {=$highlight-curr}" href="./page-3.html"
              >stats</a
            >
          </li>
        </ul>
      </div>

      <div class="nav__actions">
        <div class="search">
          <svg class="search__icon">
            <use href="./img/sprite.svg#search"></use>
          </svg>
          <input
            type="text"
            class="search__input"
            name="search"
            placeholder="Search Art Work / Creator"
          />
        </div>
        <button class="button btn--wallet">Connect Wallet</button>
      </div>
      <button class="nav__menu-button">
        <svg class="nav__menu-icon">
          <use href="./img/sprite.svg#burger-menu"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>
