<section class="section__hero">
  <div class="container">
    <div class="hero">
      <div class="hero__main">
        <div class="hero__text">
          <h1 class="hero__text-title">Discover And Create NFTs</h1>
          <p class="hero__text-subtitle">
            Discover, Create and Sell NFTs On Our NFT Marketplace With Over
            Thousands Of NFTs And Get a
            <span class="hero__text--bold">$20 bonus</span>.
          </p>
        </div>

        <div class="hero__buttons">
          <button class="hero__btn hero__btn--primary">
            <a href="./discover.html">Explore More</a>
          </button>
          <button class="hero__btn hero__btn--secondary">create NFT</button>
        </div>
        <div class="hero__review">
          <div class="hero__review-logo--wrapper">
            <svg class="hero__review-logo">
              <use href="./img/sprite.svg#logo-star"></use>
            </svg>
            <svg class="hero__review-brand">
              <use href="./img/sprite.svg#trustpilot"></use>
            </svg>
          </div>
          <div class="hero__review-star--wrapper">
            <svg class="hero__review-star">
              <use href="./img/sprite.svg#star"></use>
            </svg>
            <svg class="hero__review-star">
              <use href="./img/sprite.svg#star"></use>
            </svg>
            <svg class="hero__review-star">
              <use href="./img/sprite.svg#star"></use>
            </svg>
            <svg class="hero__review-star">
              <use href="./img/sprite.svg#star"></use>
            </svg>
            <svg class="hero__review-star">
              <use href="./img/sprite.svg#star"></use>
            </svg>
          </div>
          <p class="hero__review-count">4900+</p>
        </div>
        <ul class="total__list">
          <li class="total__item">
            <p class="total__item-value">430K+</p>
            <p class="total__item-title">Art Works</p>
          </li>
          <li class="total__item">
            <p class="total__item-value">159K+</p>
            <p class="total__item-title">Creavalues</p>
          </li>
          <li class="total__item">
            <p class="total__item-value">87K+</p>
            <p class="total__item-title">Collections</p>
          </li>
        </ul>
      </div>
      <div class="hero__visual">
        <div class="hero__img-wrapper"></div>

        <div class="hero__arrow-btn">
          <button class="hero__arrow-btn--prev">
            <svg class="hero__arrow-icon">
              <use href="./img/sprite.svg#arrow-prev"></use>
            </svg>
          </button>
          <button class="hero__arrow-btn--next">
            <svg class="hero__arrow-icon">
              <use href="./img/sprite.svg#arrow-next"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
