<div class="mobile-menu">
  <!-- <svg><use href="./img/sprite.svg#close-menu-icon"></use></svg> -->
  <div class="search--open">
    <svg class="search__icon">
      <use href="./img/sprite.svg#search"></use>
    </svg>
    <input
      type="text"
      class="search__input--mobile"
      name="search"
      placeholder="Search Art Work / Creator"
    />
  </div>
  <ul class="nav__list--open">
    <li class="nav__item">
      <a class="nav__link {=$highlight-act}" href="./page-2.html">Discover</a>
    </li>
    <li class="nav__item">
      <a class="nav__link {=$highlight-curr}" href="./page-3.html">creators</a>
    </li>
    <li class="nav__item">
      <a class="nav__link {=$highlight-curr}" href="./page-3.html">Sell</a>
    </li>
    <li class="nav__item">
      <a class="nav__link {=$highlight-curr}" href="./page-3.html">stats</a>
    </li>
  </ul>
  <button class="button btn__wallet--open">Connect Wallet</button>
</div>
