<section class="collection">
  <div class="container">
    <h2 class="collection__title">Top Collection</h2>
    <table class="table">
      <thead class="table__head">
        <tr class="table__row">
          <th class="table__cell table__cell-visible">Collection</th>
          <th class="table__cell table__cell-visible">Volume</th>
          <th class="table__cell">24h %</th>
          <th class="table__cell">Floor Price</th>
          <th class="table__cell">Owners</th>
          <th class="table__cell">Items</th>
        </tr>
      </thead>
      <tbody class="table__body"></tbody>
    </table>
    <a href="" class="table__button">
      Explore All
      <svg class="table__icon-arrow">
        <use href="./img/sprite.svg#arrow-next"></use>
      </svg>
    </a>
  </div>
</section>
