<section class="unleash">
  <div class="container unleash__container">
    <div class="points">
      <h2 class="unleash__title">
        Just Unleash - <br />
        <span class="unleash__title--color">Your Inner Collector</span>
      </h2>
      <ul class="points__list">
        <li class="points__item">
          <svg class="points__icon">
            <use href="./img/sprite.svg#accept-icon"></use>
          </svg>
          <p class="points__text">Best Seller All Around World</p>
        </li>
        <li class="points__item">
          <svg class="points__icon">
            <use href="./img/sprite.svg#accept-icon"></use>
          </svg>
          <p class="points__text">$2M+ Transactions Every Day</p>
        </li>
        <li class="points__item">
          <svg class="points__icon">
            <use href="./img/sprite.svg#accept-icon"></use>
          </svg>
          <p class="points__text">Secure Transactions</p>
        </li>
        <li class="points__item">
          <svg class="points__icon">
            <use href="./img/sprite.svg#accept-icon"></use>
          </svg>
          <p class="points__text">Exclusive Collections From Sellers</p>
        </li>
        <li class="points__item">
          <svg class="points__icon">
            <use href="./img/sprite.svg#accept-icon"></use>
          </svg>
          <p class="points__text">Easy Buying and Selling</p>
        </li>
        <li class="points__item">
          <svg class="points__icon">
            <use href="./img/sprite.svg#accept-icon"></use>
          </svg>
          <p class="points__text">Join Our Community</p>
        </li>
      </ul>
      <button class="unleash__explore-btn unleash__explore-btn--desk">
        Explore More
      </button>
    </div>

    <div class="unleash__wrapper">
      <div class="unleash__card unleash__sellers">
        <h3 class="unleash__subtitle">Best Sellers</h3>
        <ul class="unleash__list">
          <li class="unleash__item">
            <div class="unleash__profile">
              <img
                class="unleash__avatar"
                src="./img/hero/hero-nft.jpg"
                alt=""
              />
              <div class="unleash__info">
                <p class="unleash__name">Alex Ca</p>
                <p class="unleash__username">@Alexy</p>
              </div>
            </div>
            <button class="unleash__btn">Follow</button>
          </li>
          <li class="unleash__item">
            <div class="unleash__profile">
              <img
                class="unleash__avatar"
                src="./img/hero/hero-nft.jpg"
                alt=""
              />
              <div class="unleash__info">
                <p class="unleash__name">Alex Ca</p>
                <p class="unleash__username">@Alexy</p>
              </div>
            </div>
            <button class="unleash__btn">Follow</button>
          </li>
          <li class="unleash__item">
            <div class="unleash__profile">
              <img
                class="unleash__avatar"
                src="./img/hero/hero-nft.jpg"
                alt=""
              />
              <div class="unleash__info">
                <p class="unleash__name">Alex Ca</p>
                <p class="unleash__username">@Alexy</p>
              </div>
            </div>
            <button class="unleash__btn">Follow</button>
          </li>
          <li class="unleash__item">
            <div class="unleash__profile">
              <img
                class="unleash__avatar"
                src="./img/hero/hero-nft.jpg"
                alt=""
              />
              <div class="unleash__info">
                <p class="unleash__name">Alex Ca</p>
                <p class="unleash__username">@Alexy</p>
              </div>
            </div>
            <button class="unleash__btn">Follow</button>
          </li>
          <li class="unleash__item">
            <div class="unleash__profile">
              <img
                class="unleash__avatar"
                src="./img/hero/hero-nft.jpg"
                alt=""
              />
              <div class="unleash__info">
                <p class="unleash__name">Alex Ca</p>
                <p class="unleash__username">@Alexy</p>
              </div>
            </div>
            <button class="unleash__btn">Follow</button>
          </li>
          <li class="unleash__item">
            <div class="unleash__profile">
              <img
                class="unleash__avatar"
                src="./img/hero/hero-nft.jpg"
                alt=""
              />
              <div class="unleash__info">
                <p class="unleash__name">Alex Ca</p>
                <p class="unleash__username">@Alexy</p>
              </div>
            </div>
            <button class="unleash__btn">Follow</button>
          </li>
        </ul>
      </div>
      <div class="unleash__card unleash__recent">
        <h3 class="unleash__subtitle">Recent Viewed</h3>
        <ul class="unleash__list">
          <li class="unleash__item">
            <div class="unleash__profile">
              <img
                class="unleash__avatar"
                src="./img/hero/hero-nft.jpg"
                alt=""
              />
              <div class="unleash__info">
                <p class="unleash__name">Alex Ca</p>
                <p class="unleash__username">@Alexy</p>
              </div>
            </div>
            <div class="unleash__price-wrapper">
              <div class="unleash__price-icon">
                <svg class="unleash__icon">
                  <use href="./img/sprite.svg#price-icon"></use>
                </svg>
                <p class="unleash__price">8,456</p>
              </div>
              <p class="unleash__percent">+23,00%</p>
            </div>
          </li>
          <li class="unleash__item">
            <div class="unleash__profile">
              <img
                class="unleash__avatar"
                src="./img/hero/hero-nft.jpg"
                alt=""
              />
              <div class="unleash__info">
                <p class="unleash__name">Alex Ca</p>
                <p class="unleash__username">@Alexy</p>
              </div>
            </div>
            <div class="unleash__price-wrapper">
              <div class="unleash__price-icon">
                <svg class="unleash__icon">
                  <use href="./img/sprite.svg#price-icon"></use>
                </svg>
                <p class="unleash__price">8,456</p>
              </div>
              <p class="unleash__percent">+23,00%</p>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <button class="unleash__explore-btn">Explore More</button>
  </div>
</section>
