.creator__info-wrapper {
  padding: 90px 0;
}

.creator__bg-wrapper {
  width: 100%;
  height: 270px;
}
.creator__bg {
  position: absolute;
  left: 0;
  width: 100%;
  max-height: 270px;
}
.creator__img {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  transform: translateY(-50%);
}
.creator__follow-wrapper {
  display: flex;
  justify-content: space-between;
  height: 85px;
  position: relative;
  margin-bottom: 32px;
}

.creator__follow-wrapper::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background-color: #d0d0d0;
  bottom: 0;
  left: 0;
}
.creator__names {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.creator__name {
  font-weight: 600;
  font-size: 26px;

  line-height: 1.3;
  letter-spacing: 0.01em;
  color: #010101;
}
.creator__username {
  font-weight: 400;
  font-size: 13px;

  line-height: 1.3;
  letter-spacing: 0.01em;
  color: #93989a;
}
.creator__btn {
  border-radius: 9px;
  width: 91px;
  height: 35px;
  background: #000;
  font-weight: 500;
  font-size: 11px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #fff;
}
.creator__btn-unfollow {
  display: none;
}

.creator__bio {
  position: relative;
  margin-bottom: 90px;
}
.creator__bio::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background-color: #d0d0d0;
  bottom: -64px;
  left: 0;
}

.creator__bio-subscribes {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.creator__followers {
  display: flex;
  flex-direction: column;
}

.creator__followers-count {
  font-weight: 600;
  font-size: 24px;

  line-height: 1.25;
  text-align: center;
  color: #141416;
}
.creator__followers-text {
  font-weight: 500;
  font-size: 8px;

  line-height: 1.5;
  text-align: center;
  color: #848586;
}

.creator__bio-subtitle {
  font-weight: 700;
  font-size: 18px;

  line-height: 1.60772;
  color: #c5c5c5;
}
.creatro__bio-text {
  font-weight: 400;
  font-size: 10px;

  line-height: 1.77;
  text-transform: capitalize;
  color: #949494;
}

.creator__social-list {
  gap: 50px;
  margin-bottom: 84px;
}

.creator__social-icon {
  fill: #000;
}
.creator__collection-wrapper {
  display: flex;
  justify-content: center;
  height: 40px;
  position: relative;
  margin-bottom: 20px;
}
.creator__btn-action {
  width: 100%;
  height: 20px;
  font-weight: 700;
  font-size: 12px;

  text-align: center;
  line-height: 1.53333;
  color: #d2d2d2;
  transition: ease-in-out color 0.3s;
}

.creator__btn-collection.is-open::after {
  content: '';
  width: 50%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #141416;
}
.creator__btn-collection.is-open,
.creator__btn-activity.is-open {
  color: #000;
}
.creator__btn-activity.is-open::after {
  content: '';
  width: 50%;
  height: 2px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #141416;
}
.creator__collection-list {
  display: none;
}
.creator__activity-list {
  display: none;
}

.creator__collection-list.is-open {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.creator__collection-list.is-open .nft-card__item {
  display: block;
}
.creator__collection-list .nft-card__item {
  max-width: 146px;
}
.creator__collection-list .nft__img {
  height: 131px;
}
.creator__collection-list .nft__name {
  font-size: 11px;
}

.creator__collection-list .nft-card__label {
  font-size: 7px;
}
.creator__collection-list .nft-card__button {
  border-radius: 6px;
  padding: 4px 9px;
  width: 63px;
  height: 26px;
  font-size: 7px;
}
.creator__collection-list .nft-card__icon {
  width: 6px;
  height: 10px;
}

.creator__collection-list .nft-card__price {
  font-size: 8px;
}

.creator__activity-list.is-open {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.creator__activity-item {
  box-shadow: 0 4px 46px 0 rgba(197, 197, 197, 0.25);
  background: #fff;
  border-radius: 10px;
  padding: 12px;
}
.creator__activity-wrapper {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.creator__activity-info {
  display: flex;
  gap: 10px;
}
.creator__activity-img {
  border-radius: 10px;
  width: 51px;
  height: 53px;
}
.creator__activity-names {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.creator__activity-name {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 13px;

  line-height: 1.57143;
  color: #000;
}
.creator__activity-username {
  font-weight: 400;
  font-size: 9px;
  color: #000;
}

.creator__activity-type {
  font-weight: 400;
  font-size: 9px;
  color: #14a760;
  text-align: end;
}
.creator__activity-date {
  text-align: end;
  min-width: 80px;
  max-width: 80px;
}

.loader-collection {
  margin: auto;
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  clip-path: inset(0 3ch 0 0);
  animation: l4 1s steps(4) infinite;
}
.loader-collection:before {
  content: 'Loading...';
}
@keyframes l4 {
  to {
    clip-path: inset(0 -1ch 0 0);
  }
}
@media screen and (min-width: 768px) {
  .creator__bg-wrapper {
    position: relative;
  }
  .creator__img {
    transform: translate(30%, -50%);
  }
  .creator__name {
    font-size: 24px;
  }
  .creator__username {
    font-size: 12px;
  }
  .creator__main-wrapper {
    display: flex;
    gap: 90px;
  }
  .creator__follow-wrapper {
    gap: 20px;
  }

  .creator__collection-list .nft-card__item {
    align-self: flex-end;
  }
  .creator__activity-names {
    gap: 10px;
  }
  .creator__activity-date {
    min-width: 130px;
    max-width: 130px;
  }
}

@media screen and (min-width: 1440px) {
  .creator__bg-wrapper {
    height: 355px;
  }
  .creator__bg {
    max-height: 355px;
  }
  .creator__img {
    width: 165px;
    height: 165px;
  }
  .creator__name {
    font-size: 35px;
  }
  .creator__btn {
    width: 121px;
    height: 46px;
    font-size: 14px;
  }
  .creator__follow-wrapper {
    height: 112px;
    gap: 50px;
    margin-bottom: 43px;
  }
  .creator__username {
    font-size: 18px;
  }
  .creator__followers-count {
    font-size: 32px;
  }
  .creator__followers-text {
    font-size: 10px;
  }
  .creator__bio-subtitle {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .creatro__bio-text {
    font-size: 14px;
  }
  .creator__collection-list .nft-card__item {
    max-width: 204px;
  }
  .creator__collection-list .nft__img {
    height: 183px;
  }
  .creator__collection-list .nft__name {
    font-size: 15px;
  }

  .creator__collection-list .nft-card__button {
    width: 88px;
    height: 37px;
    font-size: 10px;
  }
  .creator__collection-list .nft-card__label {
    font-size: 10px;
  }
  .creator__collection-list .nft-card__price {
    font-size: 11px;
  }
  .creator__collection-list .nft-card__icon {
    width: 16px;
    height: 16px;
  }
  .creator__btn-action {
    font-size: 16px;
  }
  .creator__collection-list {
    gap: 29px;
  }
  .creator__activity-img {
    width: 64px;
    height: 67px;
  }
  .creator__activity-name {
    font-size: 16px;
  }
  .creator__activity-username {
    font-size: 12px;
  }
}
