.weekly-nft {
  overflow: hidden;
  position: relative;
  height: 100%;
  background-color: var(--background-colorCard);
  padding: 57px 0 55px 0;
}

.weekly-title {
  font-weight: 600;
  font-size: 30px;

  line-height: 0.59812;
  color: #c5c5c5;
  display: flex;
  justify-content: center;
  margin-bottom: 63px;
}

.nft-card--weekly {
  margin-bottom: 60px;
}
.nft-card--weekly .nft-card__item {
  width: 198px !important;
  flex-shrink: 0;
  border-radius: 17px;
  box-shadow: 13px 8px 42px 0 rgba(199, 199, 199, 0.6);
  padding: 10px 10px 14px 10px;
}
.nft-card--weekly .nft__img {
  width: 100%;
  border-radius: 17px;
}
.nft-card--weekly .nft__timer {
  border: 0.84px solid rgba(28, 29, 32, 0.08);
  border-radius: 7px;
  padding: 6px 10px;
  width: 81px;
  height: 26px;
  backdrop-filter: blur(3.346142530441284px);
  box-shadow: 0 3px 10px 0 rgba(28, 29, 32, 0.08);
}
.nft-card--weekly .nft__timer span {
  font-weight: 500;
  font-size: 10px;

  line-height: 1.5;
  letter-spacing: 0.01em;
  color: var(--color-white);
}
.nft-card--weekly .nft__name {
  font-size: 14px;
  margin-top: 13px;
}
.nft-card--weekly .nft-card__bid {
  margin-top: 10px;
}
.nft-card--weekly .nft-card__bid-wrapper {
  gap: 3px;
}
.nft-card--weekly .nft-card__label {
  font-size: 9px;
}
.nft-card--weekly .nft-card__price {
  font-weight: 400;
  font-size: 11px;
}
.nft-card--weekly .nft-card__icon {
  width: 15px;
  height: 15px;
}
.nft-card--weekly .nft-card__button {
  border-radius: 8px;
  width: 85px;
  font-weight: 700;
  font-size: 9px;
}

.swiper {
  width: 100%;
  height: 100%;
  overflow: visible !important;
}

.weekly__arrow-btn {
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  .container-weekly {
    max-width: 768px;
  }
  .weekly-nft {
    padding: 50px 0 64px 0;
  }
  .weekly-title {
    margin-bottom: 70px;
  }
}

@media screen and (min-width: 1440px) {
  .weekly-nft {
    padding: 70px 0 90px 0;
  }
  .weekly-title {
    margin-bottom: 100px;
  }
  .swiper-slide {
    width: 281px !important;
    padding: 14px 14px 20px 14px;
  }
  .nft-card--weekly .nft-card__item {
    width: 281px !important;
    padding: 14px 14px 20px;
  }
  .nft-card--weekly .nft__timer {
    padding: 9px 14px;
    width: 114px;
    height: 37px;
    top: 14px;
    border-radius: 9px;
  }
  .nft-card--weekly .nft__name {
    font-size: 21px;
    margin-top: 19px;
  }
  .nft-card--weekly .nft-card__bid {
    margin-top: 14px;
  }
  .nft-card--weekly .nft-card__label {
    font-size: 14px;
  }
  .nft-card--weekly .nft-card__icon {
    width: 21px;
    height: 21px;
  }
  .nft-card--weekly .nft-card__price {
    font-size: 16px;
  }
  .nft-card--weekly .nft-card__button {
    width: 121px;
    font-size: 14px;
  }
}
